.section-header
  text-align center

  &__icon
    color #ccc
    font-size 32px
    text-align center
    margin-bottom 20px

  &__title
  &__sub-title
    color inherit
    margin 0
    font inherit

  &__title
    font-size 50px
    margin-bottom 3px

    _(font-size, {
      xs: 24px
      sm: 30px
      md: 34px
      lg: 40px
      xl: 46px
      hg: 50px
    })

    b
      font-weight 400

  &__sub-title
    font-size 24px
    margin-bottom 26px

    _(font-size, {
      xs: 17px
      sm: 19px
      md: 21px
      hg: 24px
    })
