.u
  &-svg-icon
    width 1em
    height 1em
    fill currentColor

    display inline-block
    vertical-align middle

  &-hidden
    display none !important

  &-responsive
    width 100%
    max-width 100%
    display block
    height auto

  &-clearfix
    clearfix()

  &-parallax
    position absolute
    z-index -1

  &-action
    button-reset()

    color inherit
    font inherit
    font-size 24px
    cursor pointer

    tr(transform, color)

    &:hover
      transform scale(1.02)

    _(font-size, {
      xs: 19px
      sm: 20px
      md: 21px
      lg: 22px
      xl: 23px
      hg: 24px
    })

    span, svg
      display inline-block
      vertical-align middle

    svg
      // font-size .83em
      font-size 1.025em
      margin-left .2em
